[Unit]
Description=speake-rs Qwen3 TTS Daemon
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/env PATH=%h/.local/share/cargo/bin:%h/.cargo/bin:/usr/local/bin:/usr/bin speake-rs-daemon
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
